@use "../../styles/vars";

.title {
  text-align: center;
  font-size: 36px;
  margin: 0 0 7px;
  color: vars.$title-color;
  @media screen and (min-width: vars.$breakpoint-sm) {
    font-size: 50px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: vars.$breakpoint-lg) {
    font-size: 60px;
  }
}

.description {
  text-align: center;
  margin: 0;
  font-weight: 300;
  color: vars.$text-color;
  @media screen and (min-width: vars.$breakpoint-sm) {
    font-size: 18px;
    line-height: 30px;
    padding: 0 7%;
  }
  @media screen and (min-width: vars.$breakpoint-md) {
    padding: 0 21%;
  }
}
