$main-bg-color: #f8f9fc;
$alt-bg-color: #fff;
$title-color: #1f1f25;
$alt-color: #f9004d;
$icon-color: #1d1d24;
$text-color: #717173;
$main-font: "Poppins", sans-serif;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-md: 992px;
